* {
    margin: 0rem;
    padding: 0rem;
}

body {
    background-color: #071821;
}

div.board {
    display: grid;
    grid-template: auto auto auto auto / auto auto auto;
    max-width: 30rem;
    max-height: 30rem;
    grid-gap: 0rem;
    margin: {
        right: auto;
        left: auto;
        top: 3rem;
    }
}

img#reset {
    display: block;
    max-width: 23.75rem;
    max-height: 10rem;
    grid-gap: 0rem;
    margin: {
        right: auto;
        left: auto;
        top: 1rem;
    }
}

img.space {
    width: 100%;
    height: 100%;
}